.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: darkgreen;
    background-color: skyblue;
    transition: backgrund-color 0.3s,color 0.3s;
}
.MISSTESMAN{
    color: orange;
}

.BERTA{
    color: bisque;
}

.direction:hover{
    background-color: burlywood;
    color: deeppink;
}
table th{
    width: 50%;
    border-collapse: collapse;
    margin: bottom 10px;
}
table th{
    color:black;
    text-align: left;
    padding: 5px;
    border: 3px black;
}
table td{
    text-align: left;
    padding: 10px;
    border: 1px black;
}
tr:nth-child(even) {
    background-color: rgb(23, 210, 63);
}